{#
    This template build a markdon summary about quality check done with
    coala

    Parameters:
      * artifacts_link (example: https://gitlab.com/tictac-toe/grid-api/-/jobs/352979690/artifacts/browse)
      * coala json data

    Coala JSON data example with 2 "language": all & json

    {
        "results": {
            "all": [
            {
                "additional_info": "",
                "affected_code": [
                {
                    "end": {
                    "column": null,
                    "file": "/mnt/chart/grid-api/Chart.yaml",
                    "line": null
                    },
                    "file": "/mnt/chart/grid-api/Chart.yaml",
                    "start": {
                    "column": null,
                    "file": "/mnt/chart/grid-api/Chart.yaml",
                    "line": null
                    }
                }
                ],
                "applied_actions": {},
                "aspect": "NoneType",
                "confidence": 100,
                "debug_msg": "",
                "diffs": {
                "/mnt/chart/grid-api/Chart.yaml": ""
                },
                "id": 20495464466617246950678750094778912727,
                "message": "Filename does not follow snake naming-convention.",
                "message_arguments": {},
                "message_base": "Filename does not follow snake naming-convention.",
                "origin": "FilenameBear",
                "severity": 1
            },
            "all.json": [
            {
                # ... same structure ...
            },
        }
    }

#}

## Quality check

Issues per file type:

| Type | MAJOR | NORMAL | INFO |
| ---- | ----- | ------ | ---- |
{% for language, errors in results.items() | sort %}
  {% if errors | count %}
| **{{ language | replace('all.', '') }}** | {{ errors | selectattr("severity", "equalto", 2) | list | count }} | {{ errors | selectattr("severity", "equalto", 1) | list | count }} | {{ errors | selectattr("severity", "equalto", 0) | list | count }} |
  {% endif %}
{% endfor %}

More details in [full report]({{ artifacts_link }})
